<p>car-edit simplest form</p>

<div *ngIf="car">

  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label>
        Name:
        <input [(ngModel)]="car.name" name="name" required="required" type="text">
      </label>
    </div>
    <div>
      <label>
        Plates:
        <input [(ngModel)]="car.platesNumber" name="price" type="text">
      </label>
    </div>
    <div>
      <label>
        Available:
        <select [(ngModel)]="car.available" name="available">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </label>
    </div>
    <button type="submit">Zapisz</button>
  </form>

</div>
