<p>car-edit works!</p>

<div *ngIf="car">

  <form (ngSubmit)="onSubmit()">
    <div>Name:
      <input [(ngModel)]="car.carName" name="name" type="text">
    </div>
    <div>Price:
      <input [(ngModel)]="car.price" name="price" type="text">
    </div>
    <div>Available:
      <select [(ngModel)]="car.available" name="available">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <button type="submit">Zapisz</button>
  </form>

</div>
